.signup-container {
    background-image: url('./src/components/images/background-main.jpg');
    /*height: 700px;*/
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;

}

.signin-container {
  background-image: url('./src/components/images/background-main.jpg');
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
   
}  

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;  
}

