.signup-container {
    background-image: url('./src/components/images/background-main.jpg');
    /*height: 700px;*/
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;

}

.signin-container {
  background-image: url('./src/components/images/background-main.jpg');
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
   
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;  
}

.home-container {
    background-image: url('./src/components/images/image1.jpg');
    height: 538px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
   /*  background-attachment: fixed; */
  }
 
.footer-container {
    background-color: #404040;
    overflow: hidden;
    color: white;
    

}

/*Return And Refund Page css*/

.policy-container {
    color: black;
    text-align: center;
    background-size: cover;
    background-size: 3000px 1000px;
}


.container {
    /* background-image: url('./src/components/images/image19.jpg'); */
    background-size: cover;
    background-size: 1920px 1080px;

    background-repeat: no-repeat;
     
}


.returnBackground {
    background-image: url('./src/components/images/image19.jpg');
    background-repeat: "no-repeat";
    background-size: "cover";
    height: "800px"
}

.refund-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .return-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .refundPolicy-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .head-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .home1-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    
  }

  .editRef-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .editRet-container {
    background-image: url('./src/components/images/image19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
  }

  .admin_container{
    background-image: url('./src/components/images/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    color: black;
  }

  .details_container{
    background-image: url('./src/components/images/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    color: black;
  }